@charset "utf-8";

/* global  */
.html-fixed, .html-fixed body {height:100%;}
body {font-family:"microsoft yahei",'Helvetica Neue',Helvetica,sans-serif;}
a, input, button {text-decoration:none;outline:none;}
.float-left {float:left;}
.float-right {float:right;}
.float-clear:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
input[type=search] {background:#fff;}
.mui-content-relative {position:relative;}
.img-block {display:block;width:100%;}
.mui-card-header .mui-media-body h3 {font-size:18px;font-weight:500;}
.mui-card-content-inner h3 {margin:10px 0;font-size:16px;font-weight:500;}
.mui-btn-block {padding:6px 12px;}
.mui-input-row label,
.mui-input-row select,
input, select, textarea {font-size:14px;font-family:"microsoft yahei",'Helvetica Neue',Helvetica,sans-serif;}

/* 首页  */
#navSlider {padding-top:40px;}
#navSlider .mui-slider-indicator.mui-segmented-control {position:fixed;top:0;left:0;z-index:10;width:100%;}
#navSlider .mui-slider-progress-bar {position:fixed;top:38px;left:0;z-index:10;}
#navSlider .mui-segmented-control.mui-segmented-control-inverted {background:#fff;}
#navSlider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {border:none;}

#linkGrid {background:#fff;}
#linkGrid .mui-table-view-cell {padding:0 15px;}
#linkGrid .link-icon {margin:0 auto;display:block;width:56px;height:56px;}
#linkGrid #iconPlus {margin-top:11px;margin-bottom:12px;}

.marquee-row {padding:12px 0;background:#fff;border-bottom:1px solid #eee;}
.smartmarquee {position:relative;height:20px;padding-left:10px;border-left:1px solid #eee;overflow:hidden;}
.smartmarquee .container {position:absolute;list-style:none;margin:0;padding:0;} 
.smartmarquee .container li {height:20px;line-height:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.marquee-row .hot-pic {display:block;margin:0 auto;height:20px;width:auto!important;}

#selectList .mui-media .mui-media-body {margin-top:10px;}
#selectList .mui-table-view-cell.mui-checkbox input[type=checkbox], 
.mui-table-view-cell.mui-radio input[type=radio] {top:18px;}

.active-cards .mui-card {margin:0 0 15px 0;border-radius:0;}
.active-cards .mui-card-header.mui-card-media .mui-media-body {margin-left:0;font-size:15px;}
.active-cards .mui-card-header.mui-card-media .mui-media-body .tags {margin:5px 0;}
.active-cards .mui-card-header.mui-card-media .mui-media-body .text-high {font-size:12px;color:#ff9900;}
.active-cards .mui-card-footer {border-radius:0;font-size:12px;}
.active-cards .mui-card-footer a {padding:2px 8px;color:#fff;background:#007aff;border-radius:5px;}

.panel-list {}
.panel-div {margin-top:15px;background:#fff;}
.panel-div:first-child {margin-top:0;}
.panel-header {padding:6px 15px;border-left:3px solid #ccc;}
.panel-header-blue {border-color:#428bca;}
.panel-header-red {border-color:#d9534f;}
.panel-header-green {border-color:#4cae4c;}
.panel-header-yellow {border-color:#eea236;}
.panel-header span {font-size:16px;}
.panel-header a {font-size:12px;}
.panel-content {padding-bottom:10px;border-top:1px solid #eee;}
.panel-content .mui-row>div {}
.panel-content .mui-row img {margin:12px auto 5px auto;display:block;width:60%;max-width:48px;}
.panel-content .mui-row p {margin-bottom:0px;text-align:center;font-size:12px;color:#333;}

/* 招商中心  */
.nav-bar {padding:14px 0;}
.nav-bar .mui-row>div {padding:1px 0;text-align:center;}
.nav-bar .mui-row div:nth-child(2) {border-left:1px solid #ccc;border-right:1px solid #ccc;}
.nav-bar a {color:#333;text-decoration:none;}
.nav-bar a.active,
.nav-bar a:active {color:#007aff;}
.nav-control {border:none;border-radius:0;}
.banner-div img {display:block;width:100%;height:145px;}
.card-list {position:fixed;top:228px;bottom:0;width:100%;overflow:auto;}
.card-list .mui-card {margin:10px 0 0 0;border-radius:0;box-shadow:none;}
.card-list .mui-card-content-inner {padding-bottom:0;}

.fixed-link {
	display:block;
	position:fixed;
	top:240px;
	right:15px;
	z-index:99;
	width:50px;
	height:50px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	background:#007aff;
	border-radius:50%;
	box-shadow:0 1px 3px #000;
}
.fixed-link .mui-icon-extra {margin-top:9px;font-size:32px;color:#fff;}

/* 人力资源 */
.article-div {padding:10px 15px;}
.article-div h3,
.article-div p,
.article-div li {line-height:1.5em;font-size:14px;font-weight:normal;color:#333;}
.article-div h3 {margin-top:5px;font-size:16px;font-weight:500;}
.article-div p {text-indent:2em;}
.article-div ul {padding-left:42px;}
.article-div img {margin:0 auto;display:block;max-width:90%;}

/* 数据展示  */
.card-div {
	position:relative;
	margin:5px;
	height:90px;
	background:#fff;
	border-radius:2px;
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	overflow:hidden;
}
.card-div h3 {
	position:absolute;
	top:0;
	left:5px;
	line-height:18px;
	font-size:12px;
	font-weight:normal;
	color:#666;
}
.card-div p {line-height:110px;text-align:center;}
.card-div p span {margin-right:5px;font-size:22px;color:#000;}

.chart-div {margin-bottom:10px;height:200px;padding:10px;background:#fff;box-shadow:0 1px 6px #ccc;}
